{{ define "main" }}
<main>
  <article class="max-w-3xl">
    <h1 class="my-6 !font-light">
      {{ .Title }}
    </h1>
    <div class="mb-2 text-stone-900 dark:text-stone-200">
      Posted on {{ time.Format (":date_medium") .Date }}
    </div>
    <div class="flex flex-row gap-4">
      {{ range .Params.tags }}
      <a class="no-underline" href="/tags/{{ . | urlize }}">#{{ . }}</a>
      {{ end }}
    </div>
    <img class="rounded" src="{{ .Params.Thumbnail }}" alt="thumnail" />
    <section id="main">
      {{ .Content }}
      {{ if or .Params.Discuss.Hackernews .Params.Discuss.Reddit }}
        <p>
          <strong>
            Discuss on
            {{ if .Params.Discuss.Hackernews }}
            <a href="{{.Params.Discuss.Hackernews}}">Hacker News</a>
            {{ end }}
            {{ if and .Params.Discuss.Hackernews .Params.Discuss.Reddit }} or {{ end }}
            {{ if .Params.Discuss.Reddit }}
            <a href="{{.Params.Discuss.Reddit}}">Reddit</a>
            {{ end }}
          </strong>
        </p>
      {{ end }}
    </section>
  </article>
</main>
{{ end }}
