<footer class="text-center text-stone-600 dark:text-stone-400">
  <div class="py-8">* * *</div>
  <div class="flex flex-row justify-center gap-4">
    {{ $aclass := "group rounded-full duration-200 border border-stone-700 dark:border-stone-300 hover:bg-stone-700 dark:hover:bg-stone-300" }}
    {{ $imgclass := "h-4 w-4 m-1.5 duration-200 invert-[.20] group-hover:invert dark:invert-[.80] dark:group-hover:invert-[.20]"}}
    <!-- github -->
    {{ with .Site.Params.Socials.Github }}
    <a href="https://github.com/{{.}}" class="{{ $aclass }}" target="_blank">
      <img src="/images/github.svg" class="{{ $imgclass }}" alt="GitHub Logo" />
    </a>
    {{ end }}

    <!-- linkedin -->
    {{ with .Site.Params.Socials.Linkedin }}
    <a href="https://www.linkedin.com/in/{{.}}" class="{{ $aclass }}" target="_blank">
      <img src="/images/linkedin.svg" class="{{ $imgclass }}" alt="Linkedin Logo" />
    </a>
    {{ end }}

    <!-- mastodon -->
    {{ with .Site.Params.Socials.Mastodon }}
    <a href="{{.}}" class="{{ $aclass }}" rel="me">
      <img src="/images/mastodon.svg" class="{{ $imgclass }}" alt="Mastodon Logo" />
    </a>
    {{ end }}
  </div>
  <div class="py-8 text-sm">{{ site.Copyright }}</div>
</footer>
