    <div class="grid grid-cols-3">
      {{ if .HasPrev }}
      <div class="col-start-1">
        <a href="{{ .Prev.URL }}" class="float-left">
          &lt; Prev
        </a>
      </div>
      {{ end }}

      <div class="col-start-2 text-center">
        Page {{ .PageNumber }} of {{ .TotalPages }}
      </div>

      {{ if .HasNext }}
      <div class="col-start-3">
        <a href="{{ .Next.URL }}" class="float-right">
          Next &gt;
        </a>
      </div>
      {{ end }}
    </div>
