@import "fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

article {
	@apply prose
	       prose-stone
	       leading-relaxed
	       dark:prose-invert
	       prose-headings:text-inherit
	       prose-headings:font-normal
	       prose-img:mx-auto
	       prose-img:rounded
	       prose-a:text-sky-700
	       hover:prose-a:text-sky-900
	       dark:prose-a:text-sky-300
	       dark:hover:prose-a:text-sky-500;
}

div[class="highlight"] {
	border-radius: 6px;
}

code[class*="language-"],
pre[class*="language-"] {
	@apply !font-mono;
}

