@import "fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

article {
	@apply prose
	       prose-stone
	       leading-relaxed
	       dark:prose-invert
	       prose-headings:text-inherit
	       prose-headings:font-normal
	       prose-img:mx-auto
	       prose-img:rounded
	       prose-a:text-sky-700
	       hover:prose-a:text-sky-900
	       dark:prose-a:text-sky-300
	       dark:hover:prose-a:text-sky-500;

  figure > figcaption {
    @apply text-center;
  }
}

div[class="highlight"] {
	border-radius: 6px;
}

code[class*="language-"],
pre[class*="language-"] {
	@apply !font-mono;
}

.admonition {
  @apply mb-2 ps-4 border-s-4;

  & p {
	  @apply mt-0;
	}

  & .admonition-title {
    @apply mt-0 mb-2;

    &::before {
    	@apply inline-block align-middle mr-2 h-[1.3em] w-[1.3em];
  		content: "";
  	}
  }

  &.info {
    @apply border-blue-200 dark:border-blue-800;

    & .admonition-title::before {
    	@apply bg-blue-400 dark:bg-blue-600;

  		mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13 9h-2V7h2m0 10h-2v-6h2m-1-9A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2"/></svg>');
  	}
  }

  &.tip {
    @apply border-green-200 dark:border-green-800;

    & .admonition-title::before {
    	@apply bg-green-400 dark:bg-green-600;

  		mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17.66 11.2c-.23-.3-.51-.56-.77-.82-.67-.6-1.43-1.03-2.07-1.66C13.33 7.26 13 4.85 13.95 3c-.95.23-1.78.75-2.49 1.32-2.59 2.08-3.61 5.75-2.39 8.9.04.1.08.2.08.33 0 .22-.15.42-.35.5-.23.1-.47.04-.66-.12a.6.6 0 0 1-.14-.17c-1.13-1.43-1.31-3.48-.55-5.12C5.78 10 4.87 12.3 5 14.47c.06.5.12 1 .29 1.5.14.6.41 1.2.71 1.73 1.08 1.73 2.95 2.97 4.96 3.22 2.14.27 4.43-.12 6.07-1.6 1.83-1.66 2.47-4.32 1.53-6.6l-.13-.26c-.21-.46-.77-1.26-.77-1.26m-3.16 6.3c-.28.24-.74.5-1.1.6-1.12.4-2.24-.16-2.9-.82 1.19-.28 1.9-1.16 2.11-2.05.17-.8-.15-1.46-.28-2.23-.12-.74-.1-1.37.17-2.06.19.38.39.76.63 1.06.77 1 1.98 1.44 2.24 2.8.04.14.06.28.06.43.03.82-.33 1.72-.93 2.27"/></svg>');
  	}
  }

  &.warning {
    @apply border-yellow-200 dark:border-yellow-800;

    & .admonition-title::before {
    	@apply bg-yellow-400 dark:bg-yellow-600;

  		mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13 14h-2V9h2m0 9h-2v-2h2M1 21h22L12 2z"/></svg>');
  	}
  }
}

.tooltip {
  @apply relative inline-block cursor-pointer;
}

.tooltip[data-tip]::before {
  content: attr(data-tip);

  @apply absolute top-1/2 z-10;
  left: calc(100% + 0.5rem);
  transform: translateY(-50%);

  @apply w-max max-w-xs px-2 py-1 rounded-md;
  @apply text-sm leading-tight text-center;
  @apply text-stone-900 dark:text-stone-100 break-words;
  @apply font-bold;
  @apply bg-stone-100 dark:bg-stone-800;

  @apply opacity-0 pointer-events-none;

  @apply transition-all duration-200 ease-out;
  transition-delay: 75ms;

  /* Slide rightward into view */
  --tt-pos: -0.25rem;
  transform: translateY(-50%) translateX(var(--tt-pos));
}

.tooltip[data-tip]:hover::before,
.tooltip[data-tip]:focus-visible::before {
  @apply opacity-100;
  --tt-pos: 0rem;
  transition-delay: 0s;
}

.tooltip[data-tip]::after {
  content: "";
  @apply absolute top-1/2;
  left: calc(100% + 0.25rem);
  transform: translateY(-50%);
  width: 0.25rem;
  height: 0.625rem;
  @apply bg-stone-100 dark:bg-stone-800 opacity-0 pointer-events-none;
  clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
  @apply transition-opacity duration-200 ease-out;
  transition-delay: 75ms;
}

.tooltip[data-tip]:hover::after {
  @apply opacity-100;
  transition-delay: 0s;
}

